h1 {
    font-family: One Piece;
    font-size: 100px;
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  
  p {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }

  
  .modal.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    /* justify-content: center; */
    border-radius: 11px;
    /* width: 1200px;
    height: 689px;
    padding: 50px;
    left: 244px;
    margin: 20px auto; */
    width: 800px;
    height: 630px;
    margin-top: 30px;
    margin-left: 300px;
    -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.159);
    -moz-box-shadow: 0 0 50px rgba(255, 255, 255, 0.159);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.159);
    background-image: url(../img/merry.jpg);
    background-size: cover;
    background-position: center;
    /* margin-bottom: 500px; */
  }
  
  .box h1 {
    font-family: inherit;
    font-size: 40px;
    color: rgb(200, 221, 255);
  
  }
  
  /* .box h2 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-bottom: 40px;
  } */