@font-face {
  font-family: One Piece;
  src: url(/src/font/one-piece-font.ttf);
}

/* APP.JS */
h1{
  font-family: One Piece;
  font-size: 50px;
  text-align: center;
}

.counter {
  display: flex;
  justify-content: center;
}

.counterMargin {
  margin: 10px 10px;
}

.marginScorePlayer {
  margin-left: 50px;
}

.marginScoreComputer {
  margin-right: 50px;
}



.section {
  height: 500px;
  background-image: url(/src/Roi\ des\ pirates.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sect {
  background-color:white;
  opacity: 0.8;
  height: 500px;
  position: relative;
}