@font-face {
  font-family: One Piece;
  src: url(/src/font/one-piece-font.ttf);
}

h1{
  font-family: One Piece;
  font-size: 50px;
  text-align: center;
}

.counter {
  display: flex;
  justify-content: center;
}

.counterMargin {
  margin: 10px 10px;
}

.marginScorePlayer {
  margin-left: 50px;
}

.marginScoreComputer {
  margin-right: 50px;
}



