@font-face {
  font-family: One Piece;
  src: url(/src/font/one-piece-font.ttf);
}

h1, h2 {
  font-family: One Piece;
  font-size: 90px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

p {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  color: #f6f1f1;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.box {
  border-radius: 20px;
  width: 1100px;
  height: 630px;
  padding: 50px;
  top: 50%;
  left: 0;
  right: 50%;
  bottom: 50%;
  margin: auto;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  background-image: url(./img-onepiece/one-piece-bckg.jpg);
  background-size: cover;
}

.box h2 {
  font-size: 60px;
  margin-bottom: 40px;
}