@font-face {
  font-family: One Piece;
  src: url(/src/font/one-piece-font.ttf);
}

body{
  background-image: url('../src/wood-bg.png');
}

h1{
  font-family: One Piece;
  font-size: 100px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  padding: 20px;
}


p {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  color: #f6f1f1;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.box {
  border-radius: 20px;
  width: 1100px;
  height: 630px;
  padding: 50px;
  top: 50%;
  left: 0;
  right: 50%;
  bottom: 50%;
  margin: auto;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  background-image: url(./img-onepiece/one-piece-bckg.jpg);
  background-size: cover;
}

.box h2 {
  font-size: 60px;
  margin-bottom: 40px;
}

.counter {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.counterMargin {
  margin: 10px 10px;
}

.marginScorePlayer {
  margin-left: 50px;
}

.marginScoreComputer {
  margin-right: 50px;
}

.Rbutton button {
  color: white;
  background-color: rgb(104, 178, 240);
  border-radius: 30px;
  border-color: white;
  font-size: large;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


.section {
  height: 500px;
  background-image: url(/src/Roi\ des\ pirates.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sect {
  background-color:white;
  opacity: 0.8;
  height: 500px;
  position: relative;
}
.Rbutton {
  display: flex;
  justify-content: center;
margin-right: 20px;
}
