@font-face {
  font-family: One Piece;
  src: url(/src/font/one-piece-font.ttf);
}

/* APP.JS */
h1{
  font-family: One Piece;
  font-size: 50px;
  text-align: center;
}

.counter {
  display: flex;
  justify-content: center;
}

.counterMargin {
  margin: 10px 10px;
}

.marginScorePlayer {
  margin-left: 50px;
}

.marginScoreComputer {
  margin-right: 50px;
}

.Rbutton button {
  color: white;
  background-color: rgb(104, 178, 240);
  border-radius: 30px;
  border-color: white;
  font-size: large;
  font-family:Georgia, 'Times New Roman', Times, serif
}


